@{
    ViewData["Title"] = "#3";
}

<h1>@ViewData["Title"]</h1>

<div class="my-3">
    <small>
        <a asp-action="index" asp-controller="home" class="text-dark">
            <strong>Home</strong>
        </a> 
        &blacktriangleright;
    </small>
    <small>
        <a asp-action="orders" asp-controller="shopping" class="text-dark">
            <strong>Orders</strong>
        </a> 
        &blacktriangleright;
    </small>
    <small class="text-danger">
        <strong>
            @ViewData["Title"]
        </strong>
    </small>
</div>

<!--Order Detail-->
<div class="row">
    <!--Product-->
    <div class="col-md-4">
        <h4 class="mb-3">Product</h4>
        <div>
            <img src="~/images/ingredients.jpg" alt="">
        </div>
        <div class="mt-2">
            <h5 class="text-dark">No Data Product</h5>
            <small class="text-muted">
                <strong>Web ID: 1089772</strong>
            </small>
        </div>
    </div>

    <!--Cart Info-->
    <div class="col-md-4">
        <div>
            <h4 class="mb-3">Ship Info</h4>
            <div>
                
                <div class="row mb-3">
                    <div class="col-6">
                        <small>
                            <strong>Quantity</strong>
                        </small>
                        <h5 class="text-dark">2</h5>
                    </div>

                    <div class="col-6 text-right">
                        <small>
                            <strong>Price</strong>
                        </small>
                        <h5 class="text-dark">AKZ 1000</h5>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <small>
                            <strong>Extra - Quantity</strong>
                        </small>
                        <h5 class="text-dark">Fries - 2</h5>
                    </div>

                    <div class="col-6 text-right">
                        <small>
                            <strong>Extra Price</strong>
                        </small>
                        <h5 class="text-dark">AKZ 750</h5>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <small>
                            <strong>Shipping Cost</strong>
                        </small>
                        <h5 class="text-dark">AKZ 1000</h5>
                    </div>

                    <div class="col-6 text-right">
                        <small>
                            <strong>Total</strong>
                        </small>
                        <h5 class="text-dark">AKZ 3500</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ship Detail-->
    <div class="col-md-4">
        <div>
            <h4 class="mb-3">Order Info</h4>

             <div class="mb-2">
                <small>
                    <strong>Order ID</strong>
                </small>
                <h5 class="text-dark">
                    <span class="text-danger">#3</span>
                </h5>
            </div>

            <div class="mb-2">
                <small>
                    <strong>Order Status</strong>
                </small>
                <h5 class="text-dark">
                    <span class="text-success">Accepted</span>
                </h5>
            </div>

            <div class="mb-2">
                <small>
                    <strong>Payment Type</strong>
                </small>
                <h5 class="text-dark">
                    <span class="text-orange">TPA</span>
                </h5>
            </div>

            <div class="mb-2">
                <small>
                    <strong>Shipping Address</strong>
                </small>
                <h5 class="text-dark">
                    <span class="text-muted d-block">Street St. John, Build 45, Door 1</span>
                </h5>
            </div>
        </div>
    </div>
</div>

<!--Controls-->
<div class="my-5">
    <div class="row">
        <div class="col-6">
            <a asp-action="orders" asp-controller="shopping" class="btn btn-default">Back</a>
        </div>
        <div class="col-6 text-right">
            <a href="#" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>
